<nav class="navbar">
    <div class="navbar-content">

        <!-- Logo Section -->
        <div class="navbar-logo">
            <i class="fa-solid fa-film fa-lg" style="color: red;"></i>
            <span class="logo-text">MovieHub</span>
        </div>

        <!-- Search Bar Section -->
        <div class="navbar-search">
            <input 
                type="text" 
                placeholder="Search for movies..." 
                ng-model="$ctrl.searchQuery" 
                class="search-input" 
                ng-change="$ctrl.updateSearchQuery()"
            >
            <button class="search-button">
                <i class="fa-solid fa-magnifying-glass fa-lg" style="color: white;"></i>
            </button>
        </div>

        <!-- Options Section -->
        <div class="navbar-options">
            <button class="navbar-option">
                <i class="fa-regular fa-heart"></i>
                Wishlist
            </button>
            <button class="navbar-option">
                <span>
                    <i class="fa-solid fa-person-running"></i>
                    Sign In
                </span>
            </button>
            <button class="navbar-option">
                <i class="fa-solid fa-filter"></i>
                Filters
            </button>
        </div>
    </div>
</nav>
