<nav class="navbar">
    <div class="navbar-content">
        <!-- Icon and Title -->
        <div class="navbar-logo">
            <!-- <img src="path-to-your-icon.png" alt="Logo" class="logo-icon"> -->
            <i class="fa-solid fa-film fa-lg" style="color: red;"></i>
            <span class="logo-text">MovieHub</span>
        </div>

        <!-- Search Bar -->
        <div class="navbar-search">
            <input type="text" placeholder="Search for movies..." ng-model="$ctrl.searchQuery" class="search-input">
            <button class="search-button">
                <!-- <img src="path-to-search-icon.png" alt="Search"> -->
                <i class="fa-solid fa-magnifying-glass fa-lg" style="color: white;"></i>
            </button>
        </div>

        <!-- Other Options -->
        <div class="navbar-options">
            <button class="navbar-option">
                <!-- <img src="path-to-wishlist-icon.png" alt="Wishlist"> -->
                <i class="fa-regular fa-heart"></i>
                Wishlist
            </button>
            <button class="navbar-option">
                <!-- <img src="path-to-sign-icon.png" alt="Sign"> -->
                 <span>
                    <i class="fa-solid fa-person-running"></i>
                       Sign In
                 </span>
                
            </button>
            <button class="navbar-option">
                <!-- <img src="path-to-filter-icon.png" alt="Filter"> -->
                <i class="fa-solid fa-filter"></i>
                Filters
            </button>
        </div>
    </div>
</nav>
