.carousel {
    position: relative;
    width: 100%;
    /* max-width: 600px; */
    height: 300px;
    margin: auto;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
}

.carousel-slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
}

.carousel-slide.active {
    display: block;
    opacity: 1;
}

.carousel-slide img {
    width: 100%;
    height: auto;
    display: block;
    background-color: white;
}

.carousel-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
}

.carousel-dots span {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-dots span.active {
    background-color: #333;
}
