<div class="movies-carousel-section" ng-if="!$ctrl.loading">
    <div class="category-section" ng-repeat="(category, movies) in $ctrl.filteredMovies" ng-if="movies.length">
        <h2 class="category-title">
            {{category | capitalize}} Movies <span class="greater-icon">&gt;</span>
        </h2>
        <div class="movies-row {{category}}-row">
            <div class="movie-card" ng-repeat="movie in movies" ng-click="$ctrl.showMovieDetails(movie)">
                <img ng-src="{{movie.posterURL}}" alt="{{movie.title}}" class="movie-image">
                <p class="movie-title">{{movie.title}}</p>
                <!-- Heart Icon -->
                <i class="fa-solid fa-heart"
                   ng-class="{'wishlist-active': movie.wishlistActive}"
                   ng-click="$ctrl.toggleWishlist(movie); $event.stopPropagation()"></i>
            </div>            
            <button class="scroll-button" ng-click="$ctrl.scrollRight(category)">❯</button>
        </div>
    </div>

    <div class="no-movies" ng-if="$ctrl.hasNoMovies()">
        <p>No movies found for the selected filter or search query.</p>
    </div>
</div>

<div class="loader" ng-if="$ctrl.loading">
    <p>Loading movies...</p>
</div>